- if user_signed_in?
  = javascript_include_tag "//platform.twitter.com/widgets.js"
.cause-info
  .container
    %ul.breadcrumb
      %li
        %a{:href => "#"} Home
        %span.divider /
      %li
        %a{:href => "#"} Topics
        %span.divider /
      %li.active Express your inner geek
    #tweet-success.alert.alert-error.fade.in.hide
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      %strong Thanks!
      Your haiku and score will show up soon! 
      %br
      Now go get more points by sharing this cause and getting your haiku retweeted. Make sure to check out the newest tweets at the bottom of the page. Retweet the ones you like!
    .row-fluid.cause-progress
      .span5.cause-intro-container
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/geekitude.jpg", :class=>"cause-image")
        .row-fluid
          .cause-intro.span12
            %h2.cause-name Look, you're a geek. We get it. Write a haiku and tell us about it.
            .row-fluid
              .span6
                = link_to "Write a haiku (5 pts)", "#", :class=>"cause-action loud", :id=>"write-haiku", "data-placement" => "right", :rel => "tooltip" #TODO: Use button for this TODO: how does this parameter list just 'work'?
              .span6
                = link_to "Share this topic (15 pts)", "#", :class=>"cause-action quieter", :id=>"share-cauase" #TODO: Use button for this
              #haiku-tooltip-content.hide
                %p A haiku is a poem with 17 syllables.
                %blockquote
                  %small
                    One show did it right
                    %br
                    Battlestar Galactica
                    %br
                    "Sir" means 'boss' not 'man'
            .row-fluid
              .hide.log-in
                Please
                = link_to "login", signin_path
                or
                = link_to "sign up", :controller => "users", :action=> "join", :return_url => request.fullpath
                first
      .span4.offset1
        .row-fluid
          .span12.causes-status-container
            %h4
              = @view_model.progress[:points].to_i
              %small points rewarded
            .row-fluid
              .span8
                .progress.progress-danger
                  .bar{:style => "width: #{@view_model.progress[:percentage_complete]}%;"}
              .span3.offset1
                = number_with_delimiter(@view_model.goal_limit, :delimiter => ',')
            .cause-result
              Whoever earns the most points by the time we reach #{number_with_delimiter(@view_model.goal_limit, :delimiter => ',')} will win free cake! The cake is not a lie.
        .row-fluid
          .span12.legend-container
            .row-fluid
              .span4
                %h5 Write a Haiku
              .span1
                \=
              .span7
                5 points
            .row-fluid
              .span4
                %h5 Get retweeted
              .span1
                \=
              .span7
                10 points
            .row-fluid
              .span4
                %h5
                  Share this topic
              .span1
                \=
              .span7
                15 points
                %small - When you click 'share this topic', you'll be provided with a unique link. Every time someone visits your unique link, you'll  earn 'influencer' points.
    .seperator
    .row-fluid.causes-info-container
      .span5
        .row-fluid
          .span12.cause-fact
            %strong What should I write?
            A haiku that expresses your inner geek. Talk about Dr. Who, Battlestar Galactica, Zelda, Ruby on Rails, etc. As long as it's in the form of a haiku (a poem with 17 syllables), you should be fine.
        .row-fluid
          .span12.cause-fact
            %strong Haiku? What..
            You might remember them from elementary school. It's a poem with 17 syllables. They go like this:
            %blockquote
              %small
                One show did it right
                %br
                Battlestar Galactica
                %br
                "Sir" means 'boss' not 'man'
            Pro Tip: Having trouble keeping track of syllables? Clap as you talk it out.
        .row-fluid
          .span12.cause-fact
            %strong Now what?
            Once you've participated, check out the other haikus below. Like one? Retweet it and the original author gets points. Hate that idea and think you deserve ALL THE POINTS? Click the 'Share This Topic' button above to generate a uniuqe link in the Twitterverse. When other people click that link, you'll get points. One step closer to cake.
      .span6.offset1
        .top-container
          %h4 Top Haikus
          .entries-container
            =render :partial => 'top_haiku', :collection => @view_model.top_haikus
        .top-container
          %h4 Top Influencers
          .entries-container
            = render :partial => 'top_referer', :collection => @view_model.top_referers
.container
  %h3 Newest Haikus
  #haiku-list
    = render :partial => 'causes/haiku', :collection => @view_model.recent_haikus
  #paginator
    = paginate @view_model.recent_haikus, :remote => true
- content_for :before_body_close do
  :javascript
    $(function(){
     cause_init({signed_in: #{!current_user.nil?},user:#{current_user.to_json(:only=>[:screen_name])},share_url:"#{abs_path}",referer:#{flash[:referer].nil? ? "null" : "'" + flash[:referer][:screen_name] + "'"}}); 
    });