.cause-info
  .container
    .row-fluid.cause-progress
      .span5.cause-intro-container
        = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg'), main_cause_path, :class => "cause-user-image"
        .cause-intro.span8
          %h2.cause-name 17 Syllables
          %p How would you change the world in 17 syllables?
      .span4.offset1
        .row-fluid
          .span12.causes-status-container
            %h4
              12,000
              %small syallables written
            .row-fluid
              .span8
                .progress.progress-danger
                  .bar{:style => "width: 60%;"}
              .span3.offset1
                17,000
            .cause-result
              +JAG will hold a contest to give away 5 free campaigns
        .row-fluid
          .span6
            = link_to "Add your 17 syllables", "/join", :class=>"cause-action loud" #TODO: Use button for this
          .span6
            = link_to "Share this cause", "/join", :class=>"cause-action quieter" #TODO: Use button for this
    .seperator
    .row-fluid.causes-info-container
      .span5
        = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/17s.jpg", :class=>"cause-image")
      .span6.offset1
        .top-container
          %h4 Top Haikus
          .entries-container
            .row-fluid
              .span3
                = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg',:class => "current-user-image"), '/'
                %p.info 68 tweets
              .span2
                = link_to "Mr Dude", '/'
              .span5
                How would you change the world in 17 syllables? How would you change the world in 17 syllables?
              .span2
                %i.icon-thumbs-up
            .row-fluid
              .span3
                = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg',:class => "current-user-image"), '/'
                %p.info 68 tweets
              .span2
                = link_to "Mr Dude", '/'
              .span5
                How would you change the world in 17 syllables? How would you change the world in 17 syllables?
              .span2
                %i.icon-thumbs-up
        .top-container
          %h4 Top Influencers
          .entries-container
            .row-fluid
              .span3
                = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg',:class => "current-user-image"), '/'
                %p.info 68 tweets
              .span2
                = link_to "Mr Dude", '/'
              .span5
                How would you change the world in 17 syllables? How would you change the world in 17 syllables?
              .span2
                %i.icon-thumbs-up
            .row-fluid
              .span3
                = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg',:class => "current-user-image"), '/'
                %p.info 68 tweets
              .span2
                = link_to "Mr Dude", '/'
              .span5
                How would you change the world in 17 syllables? How would you change the world in 17 syllables?
              .span2
                %i.icon-thumbs-up