.welcome
  .container
    .row-fluid.blurb
      .span5
        .row-fluid
          .span12
            %h2 An army of women <br/> who can accelerate <br/> any cause
        .row-fluid.join
          .span12
            = link_to "Join", "/join", :class=>"loud" #TODO: Use button for this
      .span5.offset1
        #home-slider.carousel.slide
          .carousel-inner
            .active.item
              = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/beautiful_student.jpg")
              .carousel-caption
                %h4 #girl_power
                %p It's not just a slogan. Although we're often told girls don't matter, Girls are a powerful force multiplier on global solutions for poverty, hunger, and economic growth. 
            .item
              #campaign-17s
              .carousel-caption
                %h4
                  = link_to "17 Syllables",main_cause_path
                %p 
                  It's not just a slogan. Although we're often told girls don't matter, Girls are a powerful force multiplier on global solutions for poverty, hunger, and economic growth. 
                  = link_to "more", main_cause_path 

            .item
              = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/key_facts.png")
              .carousel-caption
                %h4 +Just Add Girls Effect
                %p Girls represent the <strong>fourth largest emerging global economy</strong>, can feed an additional <strong>100-150 million people</strong> in the world, have lead more successful wall street economic funds for <strong>10 years running</strong>, run more than <strong>10 million businesses</strong>, with <strong>36% better stock price growth</strong> and <strong>46% better return on equity</strong>.
          %a.carousel-control.left{"data-slide" => "prev", :href => "#home-slider"} ‹
          %a.carousel-control.right{"data-slide" => "next", :href => "#home-slider"} ›
.explain
  .container
    .row-fluid
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_causes.jpg")
        .row-fluid.feature-highlight
          .span12
            %h4 Causes
            %p Join a cause that adds girls to the solution 
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_girl.png")
        .row-fluid.feature-highlight
          .span12
            %h4 Create
            %p Create a campaign or initiative from your imagination and our DIY tools
      .span4
        .row-fluid
          .span12
            = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_create.jpg")
        .row-fluid.feature-highlight
          .span12
            %h4 Accelerate
            %p Crowdsource and accelerate your own unique initiative or solution on our Crowd platform
.showcase
  .container
    %h3 Featured Cause
    .featured-container
      %h2.featured-cause-name
        = link_to "17 Syllables",main_cause_path
      .row-fluid.featured-content
        .span5
          .row-fluid
            .span12
              %h5
                %strong The media environment for girls sucks.
              %h5 Girls are on the net twice as often as guys and dominating in activities like content creation. Girls are being recognized as the new Net and Social Media Power Users. 
              %h5 As the first campaign of +JustAddGirls, 17Syllables identifies and galvanizes this power position providing girls with a platform to talk back, and take back the conversation.
          .featured-user
            = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg'), main_cause_path, :class => "feature-user-image"
            = link_to "17Syllables", main_cause_path
          .featured-statistics
            %p Influencers: 250
            %p Designers: 26
            %p Organizers: 53
        .span5.offset1
          = link_to image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/17s.jpg", :class=>"featured-image") , main_cause_path
    .seperator
    %h4 Current Causes
    .row-fluid
      .span2.current-cause-container
        %h5 Walking for Water
        .img-circle
          = link_to image_tag("http://aidwatchers.com/wp/wp-content/uploads/2010/08/african-women-carrying-water.jpg", :class=>"current-image") , main_cause_path
        %p Girls can't go to school when they walk several miles a day for their family's daily water. Support our walk to raise $ for a well in Africa.
        = link_to image_tag('http://i.istockimg.com/file_thumbview_approve/19939420/1/stock-photo-19939420-color-portrait-of-a-charming-and-laughing-girl.jpg',:class => "current-user-image"), main_cause_path
        = link_to "jen_17s", main_cause_path
        .current-statistics
          %p Influencers: 125
          %p Designers: 3
          %p Organizers: 68
      .span2.offset1.current-cause-container
        %h5 Get Girls Into Tech
        .img-circle
          = link_to image_tag("http://collegepals.org/wp-content/uploads/2011/12/computerGirl.jpg", :class=>"current-image") , main_cause_path
        %p Women programmed ENIAC, the US Government’s first computer, yet girls currently receive only 18% of Computer Science degrees. Support our campaign for girl's STEM education in high schools.
        = link_to image_tag('https://s3-us-west-1.amazonaws.com/jag-assets/images/beautiful_student.jpg',:class => "current-user-image"), main_cause_path
        = link_to "irelandc90", main_cause_path
        .current-statistics
          %p Influencers: 252
          %p Designers: 8
          %p Organizers: 10
      .span2.offset1.current-cause-container
        %h5 Up the 17%
        .img-circle
          = link_to image_tag("http://www.womenspolicy.org/images/content/pagebuilder/10533.jpg", :class=>"current-image") , main_cause_path
        %p When young girls are socialized to undervalue themselves, we end up with only 17% female representation in Congress. Support our campaign to teach girls about running for local government.
        = link_to image_tag('http://thumb10.shutterstock.com/thumb_small/270058/95732242/stock-photo-closeup-portrait-of-elegant-middle-aged-woman-95732242.jpg',:class => "current-user-image"), main_cause_path
        = link_to "susronib", main_cause_path
        .current-statistics
          %p Influencers: 35
          %p Designers: 1
          %p Organizers: 6
      .span2.offset1.current-cause-container.outline
        %h5 Your Cause
        = image_tag("https://s3-us-west-1.amazonaws.com/jag-assets/images/jag_girl.png")
        .current-statistics
          %h6
            %strong Access to
          %p 1,000 influencers
          %p 230 designers
          %p 2,000 organizers

- content_for :before_body_close do
  :javascript
    $(function(){
     home_init(); 
    });