/ .btn-navbar is used as the toggle for collapsed navbar content
%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

= link_to root_path, :class => "brand" do #/TODO: find out why font sucks in windows
  %span.quiet-logo>Haiku
  %strong>Za

- unless current_page?(:action=>"join", :controller=>"users")
  - if current_page?(:action=>"index", :controller=>"home")
    .nav-collapse
      %ul.nav.nav-pills
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => main_cause_path} Topics
        %li
          %a{:href => main_cause_path} People
        %li
          %a{:href => main_cause_path} Meetups
      %form.navbar-search.pull-right
        %input.search-query{:placeholder => "Search", :type => "text"}
      %ul.nav.nav-pills.pull-right
        - if user_signed_in?
          = render 'layouts/login'
        - else
          %li
            = link_to 'Login', signin_path
          %li.loud
            = link_to 'Join', "/join"
  - else
    .nav-collapse
      %ul.nav.nav-pills
        %li
          %a{:href => "#"} Home
        %li
          %a{:href => main_cause_path} Topics
        %li
          %a{:href => main_cause_path} People
        %li
          %a{:href => main_cause_path} Meetups
        %li
          = mail_to 'jen.justaddgirls@gmail.com', 'Feedback', :class => "btn-inverse"
      %ul.nav.nav-pills.pull-right
        - if user_signed_in?
          = render 'layouts/login'
        - else
          %li
            = link_to 'Login', signin_path
          %li
            = link_to "/join" do
              %strong Join
      %form.navbar-search.pull-right
        %input.search-query{:placeholder => "Search", :type => "text"}